n8n-workflows/hrao-ad-alert-zero-leads.json
{
  "name": "HRAO Ads Alert - Zero Leads Threshold",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */3 9-17 * * *"
            }
          ]
        }
      },
      "name": "Check Every 3 Hours (9am-5pm AEDT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        -64
      ],
      "id": "alert-schedule-trigger",
      "notes": "Runs every 3 hours during business hours (9am-5pm AEDT = 22:00-06:00 UTC)"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CLIENT CONFIGURATION - EDIT THESE VALUES\n// ============================================\nconst config = {\n  clientName: 'HR Advice Online',\n  fbAdAccountId: 'act_1504596024142925',\n  slackChannelId: 'C095KT33NNN',\n  \n  // ⚠️ ALERT THRESHOLD - Change this per client\n  spendThresholdWithoutLead: 50, // Alert if ad spends $X with 0 leads\n  \n  // Optional: Minimum impressions before alerting (prevents false alerts on new ads)\n  minImpressionsBeforeAlert: 500\n};\n\nreturn [{\n  json: config\n}];"
      },
      "name": "Load Client Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -64
      ],
      "id": "load-alert-config",
      "notes": "Configure spend threshold and client details here"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.fbAdAccountId }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAcEdar4GN8BP5fMnXintsaoqxjWbXgCehTNqkizK7txRV2bqV8OWV2rpwuK5fteu2Eq1xobHWDEWTYN1EyezhhG8i2SKkQVubaQ47tm03ShdFc4NPgSTmzZBt4edMNrirfqKLifm2nMEuSnGNJQHgHhfU6IPR45pi5KSC0UcBtHdHNQpNDi9RMO4vbQfm0lah1LrBg7VNifsSgZDZD"
            },
            {
              "name": "fields",
              "value": "ad_id,campaign_name,ad_name,adset_name,spend,impressions,clicks,actions,effective_status"
            },
            {
              "name": "level",
              "value": "ad"
            },
            {
              "name": "date_preset",
              "value": "today"
            },
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "filtering",
              "value": "[{\"field\":\"effective_status\",\"operator\":\"IN\",\"value\":[\"ACTIVE\"]}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Today's Active Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -64
      ],
      "id": "fetch-today-ads",
      "notes": "Only fetches ACTIVE ads from today"
    },
    {
      "parameters": {
        "jsCode": "// Get config and API data\nconst config = $('Load Client Config').first().json;\nconst apiResponse = $input.first().json;\n\nconst ads = apiResponse.data || [];\nconst threshold = config.spendThresholdWithoutLead;\nconst minImpressions = config.minImpressionsBeforeAlert || 0;\n\n// Find ads that need immediate attention\nconst problematicAds = [];\n\nads.forEach(ad => {\n  // Extract lead count\n  let leads = 0;\n  if (ad.actions) {\n    const leadAction = ad.actions.find(action => \n      action.action_type === 'lead' || \n      action.action_type === 'offsite_conversion.fb_pixel_lead' ||\n      action.action_type === 'omni_complete_registration' ||\n      action.action_type === 'onsite_conversion.lead_grouped' ||\n      action.action_type === 'leadgen_grouped'\n    );\n    leads = leadAction ? parseInt(leadAction.value) : 0;\n  }\n\n  const spend = parseFloat(ad.spend || 0);\n  const impressions = parseInt(ad.impressions || 0);\n  const clicks = parseInt(ad.clicks || 0);\n  const status = ad.effective_status || 'UNKNOWN';\n\n  // Check if this ad meets alert criteria\n  if (\n    status === 'ACTIVE' &&\n    spend >= threshold &&\n    leads === 0 &&\n    impressions >= minImpressions\n  ) {\n    const cpc = clicks > 0 ? (spend / clicks).toFixed(2) : 'N/A';\n    \n    problematicAds.push({\n      adId: ad.ad_id,\n      campaignName: ad.campaign_name || 'Unknown Campaign',\n      adsetName: ad.adset_name || 'Unknown Ad Set',\n      adName: ad.ad_name || 'Unknown Ad',\n      spend: spend.toFixed(2),\n      impressions: impressions,\n      clicks: clicks,\n      cpc: cpc,\n      adLink: `https://business.facebook.com/adsmanager/manage/ads?act=${config.fbAdAccountId.replace('act_', '')}&selected_ad_ids=${ad.ad_id}`\n    });\n  }\n});\n\nreturn [{\n  json: {\n    clientName: config.clientName,\n    slackChannelId: config.slackChannelId,\n    threshold: threshold,\n    problematicAds: problematicAds,\n    alertCount: problematicAds.length,\n    hasAlerts: problematicAds.length > 0\n  }\n}];"
      },
      "name": "Analyze & Filter Ads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -64
      ],
      "id": "analyze-ads",
      "notes": "Finds ads that hit threshold with 0 leads"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAlerts }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "name": "Has Problematic Ads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        112,
        -64
      ],
      "id": "check-alerts"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Build alert message for each problematic ad\nconst adAlerts = data.problematicAds.map((ad, index) => {\n  return `*${index + 1}. [${ad.adsetName}] ${ad.adName}*\n:rotating_light: Spent $${ad.spend} with 0 leads (Threshold: $${data.threshold})\n:chart_with_downwards_trend: ${ad.impressions.toLocaleString()} impressions | ${ad.clicks} clicks | CPC: $${ad.cpc}\n:link: <${ad.adLink}|View & Pause Ad in Ads Manager>`;\n}).join('\\n\\n');\n\nconst message = `:warning: *URGENT AD ALERT - Zero Leads!*\n\n*Client:* ${data.clientName}\n*Time:* <!date^${Math.floor(Date.now()/1000)}^{date_short_pretty} at {time}|now>\n\n*${data.alertCount} Active Ad${data.alertCount > 1 ? 's' : ''} Need Immediate Attention:*\n\n${adAlerts}\n\n:white_check_mark: *Recommended Action:* Review and pause underperforming ads immediately.`;\n\nreturn [{\n  json: {\n    message: message,\n    channelId: data.slackChannelId\n  }\n}];"
      },
      "name": "Build Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -64
      ],
      "id": "build-message",
      "notes": "Creates formatted Slack message with ad details"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        496,
        -64
      ],
      "id": "send-slack-alert",
      "webhookId": "alert-webhook-id",
      "credentials": {
        "slackApi": {
          "id": "HBgymDl7Jz27PEm1",
          "name": "Slack account |Static Shift"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check Every 3 Hours (9am-5pm AEDT)": {
      "main": [
        [
          {
            "node": "Load Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Client Config": {
      "main": [
        [
          {
            "node": "Fetch Today's Active Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Active Ads": {
      "main": [
        [
          {
            "node": "Analyze & Filter Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze & Filter Ads": {
      "main": [
        [
          {
            "node": "Has Problematic Ads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Problematic Ads?": {
      "main": [
        [
          {
            "node": "Build Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Message": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0-zero-leads-alert",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89f97124bce97bfc128f3e8abbf22abf9fa6d7e6c6d5cd856ccf30e1fe2c2d2e"
  },
  "tags": [
    {
      "id": "v7yGe2LsJUOogLnb",
      "name": "Static Shift"
    }
  ]
}
